@{
    ViewBag.Title = "Home Page";
}
<table>
    <tr>
        <td><img src="../../Images/fifa15.png" height="200" width="140"></td>
        <td><img src="../../Images/gta5.jpg" height="200" width="140"></td>
        <td><img src="../../Images/csgo.jpg" height="200" width="140"></td>
    </tr>
</table>

